<style media="screen">
  input[type=search]:focus {
  	width: 200px;
  	background-color: #fff;
  	border-color: #ffd24f;

  	-webkit-box-shadow: 0 0 5px #ffd24f;
  	-moz-box-shadow: 0 0 5px #ffd24f;
  	box-shadow: 0 0 5px #ffd24f;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  li {
    float: right;

  }

  li a {
    display: block;
    color: #2c618c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;

  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: none;
    color: #000000;
  }


</style>
<nav style="background-color: #ffffff; border-bottom: 2px solid #ffd24f;" class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="http://assets.nationbuilder.com/keepneighborhoodsfirst/sites/1/meta_images/original/KNF_Logo_white_outline.png?1445920500" alt="" height="100px"> </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      {% if user.is_authenticated %}

        <ul>
        <li>
          <a href="/logout">Logout &nbsp;&nbsp;&nbsp;&nbsp;|</a>
        </li>
        <li>
          <a href="/accounts/password/change">Change Password &nbsp;&nbsp;&nbsp;&nbsp;|</a>
        </li>

        <li>
          <a href="/profile/">My Profile &nbsp;&nbsp;&nbsp;&nbsp;|</a>
        </li>
        <li>
          <a href="/profile/"><span>{{ user.username}}</span> &nbsp;&nbsp;&nbsp;&nbsp;|</a>
        </li>
        </ul>



      <form role="search" action="{% url 'search_results' %}" class="form-inline my-2 my-lg-0">
          <input type="search" name="business" placeholder="Search">
      </form>
      {% else%}
      <ul>
      <li>
        <a href="/accounts/login">|&nbsp;&nbsp;&nbsp;&nbsp; Log in &nbsp;&nbsp;&nbsp;&nbsp;|</a>
      </li>
      </ul>

      {% endif%}
    </div>
  </nav>
